
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_kanban.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
  <title>Tela Kanban</title>
  <document>kanban</document>
</head>
<body> <!-- Starting with dark theme by default -->
  <div class="header">
    <h1 class="header-title">{{ kanban.name }}</h1>
    <div class="profile">
      <div class="profile-icon"><i class="glyphicon glyphicon-user"></i></div>
      <div class="profile-info">
        <!-- Usar as propriedades do objeto 'user' para exibir as informações do usuário -->
        <div class="profile-name"><a class="perfil" href="{{ url_for('perfil')}}" >{{ user.nome }}</a></div>
        <div class="profile-email"><a class="perfil" href="{{ url_for('perfil')}}">{{ user.email }}</a></div>
      </div>
      <i class="material-icons"><a class="logout" href="logout">logout</a></i>
    </div>
  </div>

  <div class="sidebar" id="sidebar">
    <div class="sidebar-icon" onclick="toggleSidebar()">
      <i class="bi bi-layout-sidebar-inset"></i>
    </div>
    <hr width="100%" style="color:#ffeba7;">
    <ul>
      <li><a href="{{ url_for('home') }}"><i class="bi bi-house-door"></i><span class="text">Home</span></a></li>
      <li><a href="{{ url_for('member',kanban_id=kanban.id) }}"><i class="bi bi-people"></i><span class="text">Membros</span></a></li>
      <li><a href="{{ url_for('backlog',kanban_id=kanban.id) }}"><i class="bi bi-file-earmark-spreadsheet"></i></i><span class="text">Backlog</span></a></li>
      <li><a href="{{ url_for('interative') }}"><i class="bi bi-kanban"></i><span class="text">Quadros</span></a></li>
    </ul>
  </div>


  <div class="board">
    <!-- Coluna Backlog -->
    <div class="column" ondragover="allowDrop(event)" ondrop="dropCard(event)">
      <div class="column-header">backlog</div>
      <!-- Loop pelas tarefas do Backlog -->
      {% for kanbancard in backlog_tasks %}
      <div class="card" id="{{ kanbancard.id }}" draggable="true" ondragstart="dragCard(event)">
        <div class="card-title">{{ kanbancard.title }}</div>
        <div class="card-description">{{ kanbancard.description }}</div>
        <button class="card-button" onclick="removerTarefa(this)", data-task-id="{{ kanbancard.id }}">remover</button>
        <button class="card-button_edit" onclick="editCard(this)" data-task-id="{{ kanbancard.id }}"><i class="material-icons" style="font-size: 13px;">edit</i></button>
      </div>
      {% endfor %}
      <button class="card-button-adicionar" onclick="adicionarTarefa(this.parentNode)">Adicionar Nova Tarefa</button>
    </div>

    <!-- Repita o mesmo padrão para as outras colunas -->
    
    <!-- Coluna A fazer -->
    <div class="column" ondragover="allowDrop(event)" ondrop="dropCard(event)">
      <div class="column-header">A fazer</div>
      {% for kanbancard in a_fazer_tasks %}
      <div class="card" id="{{ kanbancard.id }}" draggable="true" ondragstart="dragCard(event)">
        <div class="card-title">{{ kanbancard.title }}</div>
        <div class="card-description">{{ kanbancard.description }}</div>
        <button class="card-button" onclick="removerTarefa(this)", data-task-id="{{ kanbancard.id }}">remover</button>
        <button class="card-button_edit" onclick="editCard(this)" data-task-id="{{ kanbancard.id }}"><i class="material-icons" style="font-size: 13px;">edit</i></button>
      </div>
      {% endfor %}
    </div>

    <!-- Coluna Em andamento -->
    <div class="column" ondragover="allowDrop(event)" ondrop="dropCard(event)">
      <div class="column-header">Em andamento</div>
      <!-- Loop pelas tarefas do Backlog -->
      {% for kanbancard in em_andamento_tasks %}
      <div class="card" id="{{ kanbancard.id }}" draggable="true" ondragstart="dragCard(event)">
        <div class="card-title">{{ kanbancard.title }}</div>
        <div class="card-description">{{ kanbancard.description }}</div>
        <button class="card-button" onclick="removerTarefa(this)", data-task-id="{{ kanbancard.id }}">remover</button>
        <button class="card-button_edit" onclick="editCard(this)" data-task-id="{{ kanbancard.id }}"><i class="material-icons" style="font-size: 13px;">edit</i></button>
      </div>
      {% endfor %}
    </div>

    <!-- Repita o mesmo padrão para as outras colunas -->
    
    <!-- Coluna Concluído -->
    <div class="column" ondragover="allowDrop(event)" ondrop="dropCard(event)">
      <div class="column-header">concluido</div>
      {% for kanbancard in concluido_tasks %}
      <div class="card" id="{{ kanbancard.id }}"  draggable="true" ondragstart="dragCard(event)">
        <div class="card-title">{{ kanbancard.title }}</div>
        <div class="card-description">{{ kanbancard.description }}</div>
        <button class="card-button" onclick="removerTarefa(this)", data-task-id="{{ kanbancard.id }}">remover</button>
        <button class="card-button_edit" onclick="editCard(this)" data-task-id="{{ kanbancard.id }}"><i class="material-icons" style="font-size: 13px;" top="0%">edit</i></button>
      </div>
      {% endfor %}
    </div>
  </div>


</body>
<script>
  // Função para alternar a barra lateral
  function toggleSidebar() {
    var sidebar = document.getElementById('sidebar');
    var board = document.querySelector('.board');
    var sidebarIcon = document.querySelector('.sidebar-icon');
    var sidebarIcons = document.querySelectorAll('.sidebar i'); // Seleciona todos os ícones da barra lateral
    var textElements = document.querySelectorAll('.text');

    if (sidebar.style.width === '200px') {
        sidebar.style.width = '60px'; // Largura contraída da sidebar
        board.style.marginLeft = '70px'; // Margem esquerda do board para acomodar a sidebar contraída
        sidebarIcon.innerHTML = '<i class="bi bi-layout-sidebar-inset-reverse"></i>'; // Ícone para expandir a sidebar

        // Reduz o tamanho dos ícones para 30px quando a barra lateral está contraída
        sidebarIcons.forEach(function (icon) {
            icon.style.fontSize = '30px';
        });
        textElements.forEach(function (text) {
            text.style.display = 'none';
        });

    } else {
        sidebar.style.width = '200px'; // Largura expandida da sidebar
        board.style.marginLeft = '200px'; // Margem esquerda do board para acomodar a sidebar expandida
        sidebarIcon.innerHTML = '<i class="bi bi-layout-sidebar-inset"></i>'; // Ícone para contrair a sidebar

        // Restaura o tamanho original dos ícones quando a barra lateral está expandida
        sidebarIcons.forEach(function (icon) {
            icon.style.fontSize = '20px';
        });
        textElements.forEach(function (text) {
            text.style.display = 'inline-block';
        });

    }
  }


  // Função para permitir a operação de soltar (drop) de cartões
  function allowDrop(event) {
    event.preventDefault(); // Impede o comportamento padrão de soltar elementos
  }

  // Função para iniciar a operação de arrastar cartões
  function dragCard(event) {
    event.dataTransfer.setData("text/plain", event.target.id); // Define os dados a serem arrastados
  }

  // Função para soltar um cartão em uma coluna
  function dropCard(event) {
    event.preventDefault(); // Impede o comportamento padrão de soltar elementos
    let cardId = event.dataTransfer.getData("text/plain"); // Obtém o ID do cartão arrastado
    let targetColumn = event.target.closest('.column'); // Encontra a coluna de destino

    if (targetColumn && cardId) {
      targetColumn.appendChild(document.getElementById(cardId)); // Move o cartão para a coluna de destino

      // Obtém o novo status da tarefa a partir do cabeçalho da coluna
      let newStatus = targetColumn.querySelector('.column-header').textContent;

      // Atualiza o status da tarefa no banco de dados
      fetch('/mover_tarefa/' + cardId + '/' + newStatus, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          cardId: cardId,
          newStatus: newStatus
        })
      })
    }
  }
  function editCard(button) {
    // Obtém o ID da tarefa associado ao botão clicado
    let cardId = button.getAttribute('data-task-id');

    // Obtém os dados atuais da tarefa (título e descrição) do cartão
    let card = document.getElementById(cardId);
    let currentTitle = card.querySelector('.card-title').textContent;
    let currentDescription = card.querySelector('.card-description').textContent;

    // Pede ao usuário que insira os novos valores para o título e descrição
    let newTitle = prompt("Digite o novo título da tarefa:", currentTitle);
    let newDescription = prompt("Digite a nova descrição da tarefa:", currentDescription);

    // Verifica se o usuário inseriu novos valores e se o botão Cancelar não foi pressionado
    if (newTitle !== null && newDescription !== null) {
      // Atualiza os dados no cartão
      card.querySelector('.card-title').textContent = newTitle;
      card.querySelector('.card-description').textContent = newDescription;

      // Faça uma solicitação AJAX para atualizar os dados no servidor
      fetch(`/edit_task/${cardId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          newTitle: newTitle,
          newDescription: newDescription
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.message) {
          // A tarefa foi atualizada com sucesso no servidor
          alert("Tarefa atualizada com sucesso!");
        } else {
          // Ocorreu um erro ao atualizar a tarefa no servidor
          alert("Erro ao atualizar a tarefa.");
        }
      });
    }
  }

  
  // Função para adicionar uma nova tarefa a uma coluna
  function adicionarTarefa(column) {
    let cardTitle = prompt("Digite o título da tarefa:");
    let cardDescription = prompt("Digite a descrição da tarefa:");

    if (cardTitle && cardDescription) {
      // Crie uma nova tarefa no front-end
      let cardId = Date.now();
      let card = criarCard(cardId, cardTitle, cardDescription);
      
      // Adicione a nova tarefa ao banco de dados
      fetch('/adicionar_tarefa', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          title: cardTitle,
          description: cardDescription,
          status: column.querySelector('.column-header').textContent
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // A tarefa foi adicionada com sucesso, agora a incluímos no quadro
          column.insertBefore(card, column.lastChild);
          location.reload();
        } else {
          alert("Erro ao adicionar a tarefa.");
        }
      });
    }
  }
  
  // Função para criar um novo cartão de tarefa
  function criarCard(id, title, description) {
    let card = document.createElement('div');
    card.id = id;
    card.className = 'card';
    card.draggable = true;
    card.ondragstart = dragCard;
    
    let cardTitleElement = document.createElement('div');
    cardTitleElement.className = 'card-title';
    cardTitleElement.textContent = title;
    
    let cardDescriptionElement = document.createElement('div');
    cardDescriptionElement.className = 'card-description';
    cardDescriptionElement.textContent = description;
    
    let cardButton = document.createElement('button');
    cardButton.className = 'card-button';
    cardButton.textContent = 'Remover';
    cardButton.onclick = function () {
      removerTarefa(this);
    };
    
    card.appendChild(cardTitleElement);
    card.appendChild(cardDescriptionElement);
    card.appendChild(cardButton);

    return card;
  }
  
  function removerTarefa(button) {
    let card = button.parentNode;
    let column = card.parentNode;
    let task_id = button.getAttribute('data-task-id'); // Obtenha o ID da tarefa

    // Faça uma solicitação para remover a tarefa do banco de dados
    fetch('/remover_tarefa/' + task_id, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.message) {
        // A tarefa foi removida com sucesso do banco de dados, agora a removemos da interface
        column.removeChild(card);
        location.reload();
      } else {
        alert("Erro ao remover a tarefa.");
      }
    });
  }

  // Função de logout (mostrando um alerta de logout)
  function logout() {
    alert("Logout realizado com sucesso!");
  }
  function reloadPage(){
    location.reload();
  }
  // Vincular a função de recarregar à ação do botão
  document.getElementById('reloadButton').addEventListener('click', reloadPage);
</script>
</html>