<!doctype html>
<html lang="en">
<head>
  <title>FLIG - Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_login.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            {% if mensagem_erro %}
            <div class="alert alert-danger" role="alert">
              {{ mensagem_erro }}
            </div>
            {% endif %}
            <div class="card-3d-wrap mx-auto">
              <h6 class="mb-0 pb-3"><span>Login</span></h6>
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Login</h4>
                      <form action="{{ url_for('login') }}" method="POST">
                        <div class="form-group">
                          <input type="email" class="form-style" placeholder="Email" name="email" required>
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" id="pwd" class="form-style" placeholder="Senha" name="senha" required>
                          <input type="checkbox" id="chk"> mostrar
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn mt-4">Login</button>
                      </form>
                      <p class="mb-0 mt-4 text-center"><a href="{{ url_for('register') }}" class="link">Registrar-se?</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
    const pwd = document.getElementById("pwd");
    const chk = document.getElementById("chk");

    chk.onchange = function(e){
      pwd.type = chk.checked ? "text" : "password";
    };
</script>
</html>
